  @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body {
      min-height: 100vh;
      min-width: 100vw;
      background-color: rgb(14, 36, 14);
      font-family: 'Neucha', cursive;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  header {
      display: none;
  }

  h2 {
      text-align: center;
      font-weight: 700;
      font-size: 50px;
      padding: 5px, 10px;

  }

  #title {
      display: inline-flex;
      justify-content: center;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);

  }

  #title-div {
      background-color: #398516;
      box-shadow: 5px;
      border-color: azure;
      border: 5px;
  }

    #instreuctions-btn {
        align-content: flex-start;
    }
  #grid {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: blue;
  }
  #grid div {
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }